.navbar{box-shadow: 2px 2px 5px black;
    opacity: .9;

}
.navbar-brand{
    padding-left: 80px;
}
.navbar-nav{
    padding-right: 80px;
}
.navbar, .navbar-item, .nav-link{
    color: white;

}
.main-header{
    position: relative;
    background-image: url(../img/54.jpg);
    background-size: cover;
    background-attachment: fixed;
    min-height: 500px;
}
.backgraund-overlay{
    position: absolute;
    background: rgba(226, 175, 235, .7);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    
}
.form-control, .btn{
    border-radius: 0;
}
.team{
    background: rgba(255, 184, 184,1.0);
}
